 <%- include("header.ejs"); -%>

<h4>About me</h4>
<p>lorem ipsum bvdsssssssssssssssssssssssssssssssssssffffffffffffffffffffffffffffffffffffffffffffffffffj edasfujdsalfjwdasxmznfdxsjm ejdsax idemsx sdmxzicdskxz sdmdc  cis;oaddqew fewdsdx fewdsazx</p>

<%- include("footer.ejs"); -%>
